*{margin: 0; padding: 0;}
a{text-decoration: none;color: #000;}
ul,ol{list-style: none;}
address{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:inherit;}
th{font-weight:nomal; text-align:left;}
table{border-collapse-collapse;}
b,strong{font-weight:nomal;}
